
<div *ngIf="(!isEmployee)" class="text-center">utloggad</div>
 <div *ngIf="(isEmployee)"> 
<div *ngIf="!(schedule)" class="text-center">inget schema upplagt</div>
<div *ngIf="(schedule)" class="schemaGenerator" id="schemaGenerator2">
	<br/>
	<div id="formattedDate" ><p [innerHtml]="schedule.title"></p></div>
	<br/>
	<table  class="table table-striped table-bordered" >
		<thead>
			<tr>
				<td id="empName_td"></td>    
				<td class="timeCellExport" [ngClass]="{'currentHour' : currentIndex(y)}" *ngFor="let hour of schedule.tableData; let y = index" [innerHtml]="hour.hour">

				</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of schedule.employees; let r = index">
				<td class="empNameExport"  
					[ngClass]="{'currentName' : currentEmployee(row.name)}" 
					[innerHtml]="row.name" >
				</td>
				<td *ngFor="let hour of schedule.tableData; let h = index"
					[ngClass] = "{
						'currentEmployee' : currentEmployee(row.name),
						'currentIndex' : currentIndex(h) }"
					class="shiftCell" 
					[innerHtml]="hour.assignedShifts[r]">
				</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="(isGuide)" class="pull-right text-right" >
		<a class="btn btn-small btn-primary btn-change" [routerLink]="['/schedulecreator/' + searchDate.year + '/' + searchDate.month + '/' + schedule.$key]">Ändra</a>
		<br>
		<br>
		<div *ngIf="schedule.editedBy" >
			<p class="text-left">senast ändrad av:</p>
			<p [innerHtml]="schedule.editedBy"></p>
		</div>
	</div>
	<br>
	<br>
	<div *ngIf="schedule.responsible" class="infoExport" >
		Ansvarig: {{schedule.responsible}}
		<div>
			<br>
	<div class="infoExport" [innerHtml]="schedule.info">
	</div>
	<br>
    
	</div>

<div class="col-md-2">
	<div class="btn btn-sm btn-basic shiftHover" (click)="toggleShifts()">Visa Skift</div>
		<div *ngIf="showShifts" >
			<table class="table table-condensed" style="white-space: nowrap">
				<tbody>
					<tr *ngFor="let shift of legendShifts; let i = index">
						<td class="legend"> {{shift.name}}</td>
						<td class="legend pull-right">{{shift.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>